header {
  background-color: lightsalmon;
  width: 100%;
  border-bottom: 5px groove chocolate;
  margin-bottom: 1em;
}

body {
  background-image: url("../img/Background_3.svg");
  background-repeat: repeat;
  background-size: 128px;

}

div.project-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 20px;
}
div.project-container > section {
  flex: 1 1 350px;
}
