@font-face {
  font-family: Aeogo Pixellated Regular;
  src: url(../fonts/AeogoPixellated-Regular.ttf);
}
@font-face {
  font-family: DPComic Regular;
  src: url(../fonts/dpcomic.ttf);
}


footer {
  margin: 10px auto;
  border-radius: 30px;
  background-color: lightgreen;
}


body {
  background-color: lightcoral;
  /*margin: auto 10%;*/
  width: fit-content;
  margin: 0;

}
hgroup {
  padding: 10px 40px 10px;
}
h1 {
  font-family: Aeogo Pixellated Regular, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 54px;
}
h2 {
  font-family: DPComic Regular, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 32px;
  color: lab(0.2444 0 328.2);
}
h3 {
  font-family: DPComic Regular, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  margin: 12px 0;
}
h4 {
  color: oklab(0.5 0 0);
  font-family: DPComic Regular, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 6px 0 3px;
}
p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  margin: 0 0 1.5em;
}
li {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}
main, 
section {
  /* background-color: blanchedalmond; */
  background-color: wheat;
  border-radius: 50px;
  /* border: 5px outset whitesmoke; */
}
address {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 20px;
}


abbr {
  cursor: help;
}


img {
  margin: 30px;
}
img.github-logo {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  transition: box-shadow 0.3s, background-color 0.3s;
  box-shadow: none;
}
img.linkedin-logo {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  transition: box-shadow 0.3s, background-color 0.3s;
  box-shadow: none;
}
img.linkedin-logo:hover,
img.github-logo:hover {
  background-color: white;
  box-shadow: 0 0 10px 10px white;
}


caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}
table {
  margin: 1em;
  border-collapse: collapse;
  border: 2px solid black;
  font-family: sans-serif;
  font-size: 8px;
  letter-spacing: 1px;
}
td {
  border: 1px solid black;
  padding: 8px 10px;
  text-align: center;
}
th {
  border: 1px solid black;
  padding: 8px 10px;
  background-color: plum;
}
tr:nth-child(even) td {
  background-color: whitesmoke;
}
tr:nth-child(odd) td {
  background-color: gainsboro;
}


button {
  cursor: pointer;
  margin: 0;
}

a {
  cursor: pointer;
}
a.mail-button {
  height: 60px;
  width: 60px
}
div.mail-link {
  height: 60px;
  width: 60px;
  background-color: transparent;
  background-image: url("../anim/MailButton-Sheet.svg");
  background-size: 600px 60px;
  border: none;

  animation-name: close-mail;
  animation-duration: 0.3s;
  animation-timing-function: steps(9);
  animation-iteration-count: 1;
  animation-direction: reverse;
}
div.mail-link:hover {
  animation-name: open-mail;
  animation-duration: 0.3s;
  animation-timing-function: steps(9);
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes open-mail {
  from {background-position: 0 0;}
  to   {background-position: -540px 0;}
}
@keyframes close-mail {
  from {background-position: 0 0;}
  to   {background-position: -540px 0;}
}
div.resume-link {
  height: 60px;
  width: 60px;
  background-color: transparent;
  background-image: url("../anim/ResumeButton-Sheet.svg");
  background-size: 420px 60px;
  border: none;

  animation-name: fold-paper;
  animation-duration: 0.3s;
  animation-timing-function: steps(6);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}
div.resume-link:hover {
  animation-name: unfold-paper;
  animation-duration: 0.3s;
  animation-timing-function: steps(6);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes fold-paper {
  from {background-position: 0 0;}
  to   {background-position: -360px 0;}
}
@keyframes unfold-paper {
  from {background-position: 0 0;}
  to   {background-position: -360px 0;}
}

div.body-container {
  margin: auto 10% ;
}
