@font-face {
  font-family: Franklin Gothic Demi;
  src: url(../fonts/franklin-gothic-demi/Franklin\ Gothic\ Demi\ Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Franklin Fothic Demi;
  src: url(../fonts/franklin-gothic-demi/Franklin\ Gothic\ Demi\ Italic.ttf);
  font-weight: normal;
  font-style: italic;
}


body {
  background-image: url(../img/WoodFlooring.png);

  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: 320px 116px;
}


header {
  display: grid;
  grid-template-areas:
    "logo div"
    "logo h1"
    "logo h2";
}


div.content {
  display: grid;
  grid-template-columns: 45% 55%;
  justify-content: center;
  flex-flow: row wrap;
  gap: 20px;
}
div.content > section {
  flex: 1 1 350px;
}
section {
  background-color: blanchedalmond;
}

h1, 
h2, 
h3,
h4 {
  font-family: Franklin Gothic Demi, 'Arial Narrow', Arial, sans-serif;
}
h1 {
  font-style: normal;
  grid-area: h1;
  margin-bottom: 0;
  vertical-align: text-bottom;
}
h2 {
  font-style: italic;
  grid-area: h2;
}
h3 {
  font-style: normal;
}
h4 {
  font-style: italic;
}


img.logo {
  grid-area: logo;
}


@media screen and (max-width: 800px) {
  div.content {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
  }
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    text-align: center;
    font-size: 36px;
    margin: 0;
  }
  h2 {
    text-align: center;
    font-size: 24px;
  }

  img.logo {
    width: 40%;
    margin: 3px;
  }
}